<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <title>Danh sách sản phẩm</title>
  <style>
    nav {
            display:flex;
            justify-content: center;
        }
        nav ul li {
            margin-right: 20px;
        }
        .btn {
            margin-bottom:20px;
        }
  </style>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div >
  <h2 style="text-align: center;">Danh sách sản phẩm</h2>
</div>
<div class="row justify-content-center" style="margin: 30px;">
  <br>
  <div th:each="dienthoai : ${dienthoais}">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img th:src="${dienthoai.getHinh()}" alt="hinh thumnail" width="214px" height="214px">
        </div>
        <div class="panel-body">
          <h4 th:text="${dienthoai.getTenDienThoai()}"></h4>
          <p><strong>Giá: </strong><span th:text="${#numbers.formatDecimal(dienthoai.getGiaBan(), 0, 'COMMA', 2, 'POINT')}"></span></p>
          <p><strong>Số lượng tồn: </strong><span th:text="${dienthoai.getSlTon()}"></span></p>
<!--          <p><strong>Mô tả: </strong><span th:text="${dienthoai.getMoTa()}"></span></p>-->
        </div>
        <div class="panel-footer clearfix">
          <div class="d-flex justify-content-between">
            <div>
              <form th:action="@{/dienthoais/add-to-cart}" method="post" class="d-inline">
                <input type="hidden" name="id" th:value="${dienthoai.getId()}">
                <input type="hidden" name="tenDienThoai"
                       th:value="${dienthoai.getTenDienThoai()}">
                <input type="hidden" name="hinh"
                       th:value="${dienthoai.getHinh()}">
                <input type="hidden" name="giaBan"
                       th:value="${dienthoai.getGiaBan()}">
                <span th:if="${dienthoai.getSlTon() <= 0}" class="text-danger">Hết hàng</span>
                <button th:unless="${dienthoai.getSlTon() <= 0}" type="submit" class="btn btn-success"
                        onclick="return confirm('Are you sure you want to add this dien thoai to cart?')">
                  Add to cart
                </button>
              </form>
            </div>
            <div>
              <a class="btn btn-default" th:href="@{/dienthoais/detail/{id}(id=${dienthoai.getId()})}">Thông tin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pagination-sm"
      th:each="i : ${#numbers.sequence(0, totalPages)}">
    <li class="page-item" th:classappend="${currentPage == i} ?'active'">
      <a class="page-link" th:href="@{/dienthoais/danhsach(pageNo=${i})}"
         th:text="${i + 1}"></a>
    </li>
  </ul>
</nav>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>