<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>Thông tin sản phẩm</title>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<h2 style="margin-left:20px">Thông tin Điện Thoại</h2>

<div style="margin-left:20px">
  <hr />
  <h2 style="text-decoration:underline" th:text="${dienthoai.get().getTenDienThoai()}">

  </h2>
  <div class="detail" style="display:flex">
    <div class="left" style="width:60%">
      <img th:src="${dienthoai.get().getHinh()}" alt="Hình ảnh" style="width:50%;">
    </div>
    <div class="right" style="width:40%; margin-top: 5%">
      <h4 style="color:orangered; font-size:30px" th:text="${#numbers.formatDecimal(dienthoai.get().getGiaBan(), 0, 'COMMA', 2, 'POINT')}"></h4>
      <p style="font-size:18px; width:100%"  th:text="${dienthoai.get().getMoTa()}"></p>
      <div class="button" style="display:flex">
        <a class="btn btn-default" style="width:30%;margin-right:20px" href="/">Quay lại</a>
        <form th:action="@{/dienthoais/add-to-cart}" method="post" class="d-inline">
          <input type="hidden" name="id" th:value="${dienthoai.get().getId()}">
          <input type="hidden" name="tenDienThoai"
                 th:value="${dienthoai.get().getTenDienThoai()}">
          <input type="hidden" name="hinh"
                 th:value="${dienthoai.get().getHinh()}">
          <input type="hidden" name="giaBan"
                 th:value="${dienthoai.get().getGiaBan()}">
          <button type="submit" class="btn btn-success" style="width:100%"
                  onclick="return confirm('Are you sure you want to add this dienthoai to cart?')">
            Add to cart</button>
        </form>
      </div>
    </div>
  </div>
  <br />
  <p style="font-size:16px; width:100%">
    <span><img src="/images/uytin.jpg" width="30px"></span>
    Hàng chính hãng - Bảo hành 12 Tháng
    <span><img src="/images/ship.jpg" width="30px"></span>
    Giao hàng toàn quốc
  </p>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>