<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giới thiệu</title>
  <style>
    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    section {
        margin-bottom: 30px;
    }

        section h2 {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: bold;
            text-decoration: underline;
        }

        section p {
            font-size: 20px;
            width:100%;
        }

        section ul {
            margin-top: 10px;
        }
</style>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<img src="/images/logo_banner.jpg" width="400px" style="position: relative; left: 30%; margin-top: 30px" />
<main>
  <section>
    <h2>Về chúng tôi</h2>
    <p> - Chúng tôi là cửa hàng chuyên cung cấp các sản phẩm điện thoại di động từ các thương hiệu uy tín như Apple, Samsung, Xiaomi, Oppo và nhiều hơn nữa. Với nhiều năm kinh nghiệm trong lĩnh vực này, chúng tôi cam kết mang đến cho khách hàng những sản phẩm chất lượng với giá cả hợp lý nhất.</p>
    <p> - Ngoài việc cung cấp sản phẩm, chúng tôi còn có đội ngũ nhân viên chuyên nghiệp và tận tâm, luôn sẵn sàng tư vấn và hỗ trợ khách hàng trong quá trình chọn mua sản phẩm.</p>
  </section>

  <section>
    <h2>Sản phẩm của chúng tôi</h2>
    <p> - Chúng tôi cung cấp đa dạng các loại điện thoại di động từ các thương hiệu uy tín như:</p>
    <ul>
      <li>iPhone</li>
      <li>Samsung</li>
      <li>Xiaomi</li>
      <li>Oppo</li>
      <li>Realme</li>
      <li>Vivo</li>
    </ul>
  </section>

  <section>
    <h2>Liên hệ</h2>
    <p> - Nếu bạn có bất kỳ câu hỏi hoặc yêu cầu nào, hãy liên hệ với chúng tôi thông qua:</p>
    <ul>
      <li>11/07 Biên Hòa, Đồng Nai</li>
      <li>Email: vinhtranthe117@gmail.com or 3621132na@gmail.com</li>
      <li>Điện thoại: 0935851107</li>
    </ul>
  </section>
</main>

<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>