<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <title>Danh sách hoá đơn</title>

  <!--    <th:block th:replace="~{layout::link-css}"></th:block>-->
  <!--    <th:block th:replace="~{layout::custom-css}"></th:block>-->
  <style>
        nav {
            display:flex;
            justify-content: center;
        }
        nav ul li {
            margin-right: 20px;
        }
        .btn {
            margin-bottom:20px;
        }
    </style>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <h2>Danh sách hoá đơn</h2>
        </div>
      </nav>
    </div>
  </div>
<!--  <a class="btn btn-primary" th:href="@{/dienthoais/add}">Thêm mới điện thoại</a>-->
  <table class="table">
    <thead>
    <tr>
      <th><a th:href="@{/hoadons(pageNo=${currentPage}, sortBy='id')}">Id</a></th>
      <th><a th:href="@{/hoadons(pageNo=${currentPage}, sortBy='donGia')}">Đơn giá</a></th>
      <th style="text-align:center;"><a  th:href="@{/hoadons(pageNo=${currentPage}, sortBy='ngayLap')}">Ngày lập</a></th>
      <th style="text-align:center;"><a  th:href="@{/hoadons(pageNo=${currentPage}, sortBy='user')}">Mã khách hàng</a></th>
      <th style="text-align:center;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hoadon : ${hoadons}">
      <td th:text="${hoadon.getId()}"></td>
      <td th:text="${#numbers.formatDecimal(hoadon.getDonGia(), 0, 'COMMA', 2, 'POINT')}"></td>
      <td th:text="${hoadon.getNgayLap()}" style="text-align:center;"></td>
      <td th:text="${hoadon.getUser().getId()}" style="text-align:center;"></td>
      <td>
        <a class="btn btn-primary" th:href="@{/hoadons/details/{id}(id=${hoadon.getId()})}">Thông tin</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pagination-sm"
      th:each="i : ${#numbers.sequence(0, totalPages)}">
    <li class="page-item" th:classappend="${currentPage == i} ?'active'">
      <a class="page-link" th:href="@{/hoadons(pageNo=${i})}"
         th:text="${i + 1}"></a>
    </li>
  </ul>
</nav>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>